# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\A研究生资料\新建文件夹\SQ-MCTS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
